html, body {
  height: 100%;
}

.Page {
  padding-top: $top-Pipe;
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: $width-Page + ($padding-Page * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-Page;
  padding-right: $padding-Page;
}

.Pipe {
  z-index: 1;
  position: absolute;
  top: 0;
  left: -($width-Page-border / 2);
  width: $width-Page-border;
  height: 100%;
  background-color: $color-gray;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -$top-Pipe;
  }

  &:before {
    left: 0;
    width: $width-Page-border;
    height: $top-Pipe;
    background-color: rgba(#fff, .3);
  }

  &:after {
    left: 50%;
    width: $size-Pipe-dot;
    height: $size-Pipe-dot;
    margin-left: -($size-Pipe-dot / 2);
    margin-top: -($size-Pipe-dot / 2);
    background-color: #fff;
    border-radius: 50%;
  }

}

.Events {
  z-index: 2;
  position: relative;
}

.Event {
  margin-bottom: 70px;

  &#{-header} {
    position: relative;
    color: #999;

    &#{__icon} {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -($size-Event-header__icon + ($size-Event-header__icon / 2) + 10 + $padding-Page);
      font-size: 0;

      .icon {
        box-shadow: 0 0 0 $border-Event-header__icon $base-background;
        + .icon {
          margin-left: 10px;
        }
      }
    }

    &#{__time} {
      @extend %transition;
      color: inherit;
      float: right;
      opacity: 0;
      &:after {
        content: '→';
      }
    }

    &#{__text} {

    }

  }

  &:hover &#{-header__time} {
    opacity: 1;
  }

  &#{-body} {
    margin-top: 12px;
    font-size: 22px;

    &#{--text} {
      padding: 20px;
      background-color: $color-gray;
      border-radius: 3px;
    }

    .small {
      font-size: 15px;
    }

    img {
      display: block;
      max-width: 100%;
    }

    figure {
      position: relative;
      overflow: hidden;

      &:after {
        @extend %transition;
        opacity: 1;
        content: '';
        z-index: 1;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 50%;
        @include gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
        border-radius: 0 0 3px 3px;
      }

      &:hover {
        &:after {
          opacity: 0;
        }
      }

      img {
        border-radius: 3px;
      }

      figcaption {
        @extend %transition;
        opacity: 1;
        z-index: 2;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
      }

      &:hover figcaption {
        opacity: 0;
        bottom: 0;
      }

    }

  }

}

.twitter-tweet {
  min-width: 100% !important;
  border-width: 0 !important;
  width: 100% !important;
  max-width: inherit !important;
  margin: 0 !important;
}

@media screen and (max-width: pxToEm($width-Page + ($padding-Page * 2))) {

  .Page {
    padding-left: $padding-Page-m;
    padding-right: $padding-Page-m;
  }

  .twitter-tweet {
    margin-left: 0 !important;
  }

}